* {
  box-sizing: border-box;
}

/* 
    These rules apply to actual HTML elements with no labelling!
    So: they style the tags directly
  */

html {
  background-color: #ffffff;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: white;
}

a {
  display: inline-block;
  text-decoration: none;
}

h2,
h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
  color: rgb(45, 21, 205);
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);
}

.bigBoldText {
    font-size:x-large;
    font-weight: bold;
}

.bigText {
    font-size:x-large;
    padding-left: 1rem;
    
}

/* Class Names - Styles */

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.container {
  margin: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex: 1;
  flex-direction: row;
}

.header {
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  display: flex;
  /* flex-direction: column;*/ /* Inherited from wrapper class */
}

/*
    This rule implies that the H1 tag lives within another HTML tag
    It "inherits" some rules from the above
    Those rules won't apply to an h1 that's outside a block with the class of 'header'
  */

.h1 {
  display: flex; /* was inline-block */
  align-items: center;
  flex-direction: column;

  /* colors */
  background-color: rgba(255, 166, 0, 0.8);
  color: rgb(0, 0, 0);

  /* shapes */
  border-radius: 6px;
  font-size: 1.5rem;
  margin: 0; /* removing the margin on h1 tags means the header pins to the top if we move */
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  /* Added by myself */
  border: 3px solid;
}

/* For the top white box */
.hTopBox {
  display: flex;
}

.whiteBox {
  background-color: #ffffff;
  padding-left: 3rem;
  padding-right: 3rem;
}

.hBottomBox {
  flex: 1 2 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f10707;
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*gap: 10rem;*/
}

.hBottomBoxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f10707;
  width: 100%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  padding-bottom: 0;

}

.filterSection {
  display: flex;
  flex-direction: column;
  background-color: #aaaaaa;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  min-width: 400px;
  padding-bottom: 100%;
  border: 1px solid black;
  
}

.filterBoxGold {
  display: flex;
  background-color: rgba(255, 166, 0, 0.8);
  min-width: 400px;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid black;
}
.filterBoxWhite {
  display: flex;
  flex-direction: row;

  background-color: white;
  min-width: 400px;
  justify-content: flex-start; /* Keeps items to the left horizontally */
  align-items: center; /* Keeps items centered in box vertically */
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid black;
  margin-top:10px;
}

/* For department_professor subsection */ 
.filterSubBoxWhite {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 400px;
  justify-content: flex-start;
  align-items: center;
  /* padding-top: 1rem;*/ /* Removed to pull box up */
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-top: -6; /* Pulls box up on top of parent box */
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.filterSubBoxContainer {
  display: flex;
  flex-direction: row;
  margin-left: -1rem;
}

.main_form_box{
  display: flex;
  flex-direction: column;
}

.filterByBoxGold {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 166, 0, 0.8);
  min-width: 400px;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid black;
}

.filterNameBox {
  display: flex;
  background-color: white;
  min-width: 400px;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid black;
  flex-direction: row;
}

.filterNameTextField {
    margin-right:5rem;
}

.nameTextFieldLabel {
    margin-left: 7rem;
    padding-right: 0;
}

.filterTextFieldLabel {
    width: fit-content;
    padding-left: 1.5rem;
}

.filterSubTextFieldLabel {
  display: flex;
  white-space: nowrap;
  margin-left: -1rem;
}

.dispSection {
  background-color: white;
}

/*
  .box {
    background-color: rgba(255, 166, 0, 0.8);
    border: 2px dashed;
    border-radius: 4px;
  
    width: fit-content;
    height:fit-content;
    padding: 1.5rem;
    margin: 0 auto;
  }
  
  .left_section {
    background-color: rgba(228, 125, 0, 0.955);
    flex: 0 1 auto;
    margin: 0rem 1rem 1rem 1rem;
    padding: 1.5rem;
  }
  
  .right_section {
    background-color: rgba(228, 125, 0, 0.955);
    flex: 1 2 auto;
    margin: 0rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
  }
*/

.filterByCheckbox {
  width: fit-content;
  margin-left: 1.5rem;
  margin-top: .75rem;
}

.filterBySubCheckbox{
    margin-left: -7rem;
}

.initialBox {
    display: flex;
    justify-content: center;
}

.nameTextFieldLabel {
    display: flex;
}

.buttons {
  /* This class was a "simple" solution for lab, can be changed if needed */
  display: flex;
  justify-content: space-between;
}

.refreshButton {
    margin-right: 2rem;
}

.hButton {
    display: flex;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 24px;
  }
  
  .hButton:hover {
    /* Add a check part to see if already selected, then red border */
    margin:0;
    border: 4px solid rgb(3, 255, 3);
  }

  .currentHeaderFilterTab {
    background-color: rgba(3, 255, 3, 0.7);
  }

  .hButton:focus-within {
    /* Add a check part to see if already selected, then red border */
    margin:0;
    border: 4px solid rgb(255, 3, 3);
  }

  .fButton {
    background-color: white;
    color: black;
    border: 2px solid lightgray;
  }

.footer {
  flex-shrink: 0;
  padding: 1rem;
  background-color: rgba(255, 166, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px dashed;
  color: rgb(45, 21, 205);
}

.footer a {
  color: rgb(45, 21, 205);
  text-decoration: underline;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

form input {
  /* This is a hack to make sure our boxes line up with one another nicely */
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  /* here we are setting white space correctly */
  margin-bottom: 1rem;
  height: 2rem;
  border-radius: 4px;
}

form label {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: flex-start;

  display: block; /* this turns the label text into a box we can set margins on */
  margin-bottom: 0.5rem;
}

/* Media Query Section */

@media only screen and (max-width: 736px) {
  /* Rules in here will only apply when a screen is the correct size */
  /* check it out by using your developer tools to shrink your screen-size */
  .container {
    background-color: rgba(204, 8, 162, 0.65);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .right_section {
    align-items: flex-start;
    justify-content: flex-start;
  }

  /* .restaurant_list is from lab, this will will 
        need to be changed to accomodate project layout */
  .restaurant_list {
    align-items: center;
    justify-content: center;
  }
}
